.title {
  font-family: 'Kanit', sans-serif;
  font-size: 60px;

}

/* fade in for title */
.fade-in-text {

  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
/* fade in for genre buttons */
.fade-in-text2 {

  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* styling for genre buttons */
.genre {
  padding: 0;
  border: none;
  background: none;
  border-radius: 10%;
  display: flex;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Kanit', sans-serif;
  background-color: 0, 0%, 21%;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 20px #0fa;

}

button {
  display: inline-block;
  border: 2px solid transparent;
  padding: .5%;
  

}

button:hover {

  
  border: 2px solid #0fa;
  padding: .5%;
  color: black;
  box-shadow: 0px 0px 2px 2px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

/* styling for movie buttons */
.movie {
  padding: 0;
  border: none;
  background: none;
  border-radius: 5%;
  display: flex;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Kanit', sans-serif;
  background-color: 0, 0%, 21%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  color: #000000;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 20px #0fa;

}

/* comment for css update */